header {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

h1 {
    text-align: center;    
}

h2 {
    text-align: center;    
}

main{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quiz-opener {
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: blanchedalmond;
    font-size: larger;
    overflow: hidden;
    border-radius: 15px;
    background-color: lightblue;
}

#startBtn{
    background-color: rgb(245, 59, 59);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 30px;
    border-radius: 0 0 15px 15px;
    font-size: larger;
}

#choice-style{
    background-color: rgb(245, 59, 59);
    border: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    cursor: pointer;
    height: 30px;
    border-radius: 15px;
    font-size: large;
}

.hide {
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: blanchedalmond;
    font-size: larger;
    overflow: hidden;
    border-radius: 15px;
    background-color: lightblue;
    
}

li{
    list-style: none;
    padding: 10px;

}

.quiz-header{
    border-radius: 15px;
    background-color: lightblue;
    width: 800px
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

#submit {
    background-color: rgb(245, 59, 59);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 30px;
    border-radius: 0 0 15px 15px;
    font-size: larger;
}

